body{
    margin: 0;
    background: url(../img/imgBackground.jpg) no-repeat center /cover;
}

header{
    background: #030303;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

h1{
    margin: 0;
    color: #f5f5f5;
}
main{
    width: 80%;
    margin: auto;
    padding: 1.5rem;
    background: rgba(255,255,255,.0);
    display: flex;
    gap: 5rem;
}

#imagen{
    width: 40rem;
    opacity: .8;
}
#palabra_a_adivinar{
    height: 4rem;
}

#palabra_a_adivinar span{
    vertical-align: bottom;
    font-size: 2.5rem;
    border-bottom: 2px solid #000000;
    width: 2rem;
    text-align:center ;
    margin-right: .4rem;
    display: inline-block;/*Sin esto, por ser elemento de linea (span) no tomaria el width*/
}

#letras{
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    gap: .4rem;
}

#letras button{
    width: 2.1rem;
    padding: .4rem 0;
    text-align: center;
}

#jugar{
    width: 10rem;
    height: 4rem;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #0077ff;
    color: #f5f5f5;
}
#jugar:hover{
    scale: 1.2;
}

#formulario{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

#text{
    height: 30px;
    margin-bottom: 0.5rem;
    opacity: 0.4;
}

#btnAgregarPalabra{
    height: 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #0077ff;
    color: #f5f5f5;
}

#btnAgregarPalabra:hover{
    scale: 1.1;
}